html, body {
    width   : 100%;
    height  : 100%;
    margin  : 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
    
    h2 {
        text-decoration: underline;
    }

    .container{
        display: flex;
        height: 100%;
        
        .left-panel{
            width: 40%;
            padding: 3%;
            
            img{
                width: 30%;
            }
            
            div{
                margin-top: 250px;

                p{
                    margin-top: 5%;
                }
                
                button{
                    width: 300px;
                    height: 50px;
                    background-color: DodgerBlue;
                    border: none;
                    border-radius: 10px;
                    font-weight: bold;
                    color: #fff;
                    margin-top: 5%;
                    
                    &:hover{
                        background-color: #fff;
                        border : solid 3px DodgerBlue;
                        color: DodgerBlue;
                    }
                }

                img{
                    display: none;
                    margin: auto;
                    margin-top: 20%;
                    width: 100%;
                }
            }
        }
        
        .right-panel{
            width: 60%;
            background: url("../img/campus.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            
            nav{
                background-color: #fff;
                width: 100%;
                height: 50px;
                padding-top: 10px;
                padding-bottom: 10px;
                
                ul{
                    list-style:none;
                    display: flex;
                    
                    li{
                        margin: auto;
                        display:inline-block;
                        vertical-align:middle;
                        
                        a{
                            color: black;
                            text-decoration: none;

                            &:hover{
                                color: DodgerBlue;
                                border-bottom: solid 2px DodgerBlue;
                            }
                        }
                        
                    }
                }
            }
            
            .filieres{
                background-color: LightGray;
                display: inline-block;
                padding: 2%;
                margin-top: 300px;
                
                h1{
                    text-align: center;
                }
            }
        }
    }
    
    section{
        display: flex;
        border-top: solid 2px #fff;
        
        .sec-img{
            padding: 5%;
            width: 40%;
        }
        
        .sec-txt{
            display: block;
            width: 60%;
            padding-right: 7%;
            margin: auto;
            
            div{
                align-items: center;
                justify-content: center;
                
                p {
                    text-align: justify;
                    font-style: oblique;
                }
            }
        }
    }

    .formulaire{
        border-top: solid 2px #fff;
        text-align: center;

        form {
            margin-left: auto;
            margin-right: auto;
            width: 60%;
            border: 3px solid #fff; 
            border-radius: 20px;

            label {
                display: inline-block;
                text-align: right;
                margin-top: 5%;
                margin-bottom: 1%;
            }

            input, textarea {
                width: 80%;
                border: 1px solid #999;
                border-radius: 1em;
                padding: 0.5%;
            }

            textarea {
                vertical-align: top;
                height: 5em;
                resize: vertical;
            }

            button {
                width: 130px;
                height: 40px;
                background-color: DodgerBlue;
                border: none;
                border-radius: 10px;
                font-weight: bold;
                color: #fff;

                &:hover {
                    background-color: #fff;
                    border : solid 3px DodgerBlue;
                    color: DodgerBlue;
                }
            }

            &:hover{
                border-color: dodgerblue;
            }
        }
    }

    iframe {
        margin-top: 2%;
    }
    
}

@media screen and (max-width: 410px) {

}

@media screen and (max-width: 765px) { 

        .container{
            height: auto !important;

        .left-panel{
            width: 100% !important;

            div{
                margin-top: 20% !important;
                text-align: center !important;

                h1{
                    margin-bottom: 10% !important;
                }

                img{
                    display: block !important;
                }
            }
        }
    }

    section{
        display: none !important;
    }

    form {
        width: 100% !important;
        border: none !important;

        input, textarea {
            padding: 2% !important;
        }
    }

    .right-panel{
        display: none;
    }
}

