html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html .container, body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

html .container .left-panel, body .container .left-panel {
  width: 40%;
  padding: 3%;
  background-color: LightGray;
}

html .container .left-panel img, body .container .left-panel img {
  width: 30%;
}

html .container .left-panel div, body .container .left-panel div {
  margin-top: 250px;
}

html .container .left-panel div p, body .container .left-panel div p {
  margin-top: 5%;
}

html .container .left-panel div button, body .container .left-panel div button {
  width: 300px;
  height: 50px;
  background-color: DodgerBlue;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  color: #fff;
  margin-top: 5%;
}

html .container .left-panel div button:hover, body .container .left-panel div button:hover {
  background-color: #fff;
  border: solid 3px DodgerBlue;
  color: DodgerBlue;
}

html .container .left-panel div img, body .container .left-panel div img {
  display: none;
  margin: auto;
  margin-top: 20%;
  width: 100%;
}

html .container .right-panel, body .container .right-panel {
  width: 60%;
  background: url("../img/campus.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

html .container .right-panel nav, body .container .right-panel nav {
  background-color: #fff;
  width: 100%;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

html .container .right-panel nav ul, body .container .right-panel nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html .container .right-panel nav ul li, body .container .right-panel nav ul li {
  margin: auto;
  display: inline-block;
  vertical-align: middle;
}

html .container .right-panel nav ul li a, body .container .right-panel nav ul li a {
  color: black;
  text-decoration: none;
}

html .container .right-panel nav ul li a:hover, body .container .right-panel nav ul li a:hover {
  color: DodgerBlue;
  border-bottom: solid 2px DodgerBlue;
}

html .container .right-panel .filieres, body .container .right-panel .filieres {
  background-color: LightGray;
  display: inline-block;
  padding: 2%;
  margin-top: 300px;
}

html .container .right-panel .filieres h1, body .container .right-panel .filieres h1 {
  text-align: center;
}

html section, body section {
  background-color: LightGray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: solid 2px #fff;
}

html section .sec-img, body section .sec-img {
  padding: 5%;
  width: 40%;
}

html section .sec-txt, body section .sec-txt {
  display: block;
  width: 60%;
  padding-right: 7%;
  margin: auto;
}

html section .sec-txt div, body section .sec-txt div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 765px) {
  .container {
    height: auto !important;
  }
  .container .left-panel {
    width: 100% !important;
  }
  .container .left-panel div {
    margin-top: 20% !important;
    text-align: center;
  }
  .container .left-panel div h1 {
    margin-bottom: 10%;
  }
  .container .left-panel div img {
    display: block !important;
  }
  section {
    display: none !important;
  }
  .right-panel {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */